body {
	background: #333;
	font-size: xx-large;
}

#page-wrap {
	height: 90vh;
}

#page-wrap:after {
	content: "Smartphone Layout";
}

nav ul li {
	display: inline;
	
}

section {
	height: 70%;
}

#info_author img {
	clear: both;
	width: 80%;
}

#info_author > span > span {
	font-style: italic;
}

h2 span, section h3 {
	display: none;
}

footer, input {
	font-size: large;
}

