* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.3em;
	font-family: Arial, Verdana, sans-serif;
}

header, nav, section, footer {
	display: block;
}

ul {
	list-style: none;
}

#page-wrap {
	margin: 2% auto;
	color: #fff;
}

#page-wrap > .main {
	border: 1px solic #999;
	padding: 1%;
	margin-bottom: 1px;
	color: #000;
}

section > div {
	padding: 20px;
}

header, nav, section, footer {
	background: #eee;
	text-align: center;
}

nav ul li {
	margin-right: 10px;
}

#lista_preguntas li {
	margin-bottom: .8em;
}


a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
	color: #FF6666;
}

#info_author > img {
	border-radius: 20px;
}

#errorMsgs {
	color: #f61;
	font-size: .7em;
}

.enlace_boton {
	font-size: .7em;
	color: #222;
	border: 1px solid #222;
	border-radius: 2px;
	padding: .2em .5em;
}