body {
	background: #999;
}

#page-wrap {
	height: 90vh;
}

#page-wrap:after {
	content: "Wide Layout";
}

nav {
	float: left;
	width: 15%;
	height: 70%;
}

nav span {
	margin-right: 100px;
}

section {
	float: right;
	width: 80%;
	height: 70%;
}

footer {
	clear: both;
}