<div id="lista_preguntas">
	<% if(quizes.length) { 
		  for (var i=0; i < quizes.length; i++){  %>
		<ul> 
			<li> 
				<a href="quizes/<%= quizes[i].id %>"> <%= quizes[i].pregunta %> </a> 
			</li>
		<% } %>
		</ul>
	<% } 
	 else { %>
	<span>No hay preguntas referentes a su búsqueda</span>	
	<% } %>
</div>

<div id="form_busqueda">
	<form method="get" action="/quizes" >
		<input type="text" name="search" placeholder="Buscar pregunta" />
		<input type="submit" value="Buscar" />
	</form>
</div>

